.grid {
  margin-left: 0px;
  margin-top: 50px;
  /* margin: 100px 0 0; */
}
button {
  padding: 20px;
  background-color: cadetblue;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
}
